<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit password</title>
</head>
<body>
    <h1>Edit password</h1>
    {% if message %}
    <p style="color: forestgreen">{{message}}</p>
    {% endif %}
    <form method="post" action="/edit_password">
        <label for="old_password">Old password:</label>
        <input type="password" name="old_password" id="old_password" required>
        <br>
        <label for="new_password">New password:</label>
        <input type="password" name="new_password" id="new_password" required>
        <br>
        <label for="confirm">Confirm password:</label>
        <input type="password" name="confirm" id="confirm" required>
        <br>
        <input type="submit" value="Edit password">
    </form>
    <form method="get" action="/edit_user">
        <input type="submit" value="Back">
    </form>
</body>
</html>