<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add trip</title>
</head>
<body>
<h1>Add trip</h1>
{% if message %}
    <p style="color: forestgreen">{{ message }}</p>
    <form action="/edit_car" method="get">
        <input type="submit" value="Add car">
    </form>
    <br>
{% endif %}
<form method="post" action="/new_trip">
    <label for="from_city">From:</label>
    <select name="from_city" id="from_city">
        {% for city in from_cities %}
            <option value="{{ city.id }}">{{ city.city_name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="to_city">To:</label>
    <select name="to_city" id="to_city">
        {% for city in to_cities %}
            <option value="{{ city.id }}">{{ city.city_name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="date">Choose date:</label>
    <input type="date" name="date" id="date" placeholder="date" required>
    <br>
    <label for="distance">Distance:</label>
    <input type="number" name="distance" id="distance" placeholder="distance" required>
    <br>
    <label for="price">Put the price:</label>
    <input type="number" name="price" id="price" placeholder="price" required>
    <br>
    {% for forbidden in list_of_forbidden %}
        <label>
            <input type="checkbox" name="forbidden[]" value="{{ forbidden.id }}">{{ forbidden.forbidden_name }}<br>
        </label>
    {% endfor %}
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" placeholder="description">
    <br>
    <input type="submit" value="Add trip">

</form>
</body>
</html>